*.gz binary
*.tar binary
*.tgz binary
*.zip binary
*.npy binary
*.gs binary
*.gs.* binary
*.tf binary
*.tf.* binary
*.csv filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text
*.characters filter=lfs diff=lfs merge=lfs -text
*.sentences filter=lfs diff=lfs merge=lfs -text
*.embedding binary
*.pickle binary
