scipy
nltk
editdistance
beautifulsoup4
bokeh
chardet
cssselect
elasticsearch-dsl
elasticsearch
eventlet
flask
Flask-CORS
flask_jsonrpc
gensim
gevent
HTMLParser
httplib2
javaobj
lxml
matplotlib
networkx
numpy
objgraph
pandas
paramiko
Pillow
portalocker
psutil
pymongo
pymysql
pytools
pywinauto
redis
requests
slackclient
sqlalchemy
tabulate
xlrd
xlwt
